backend/nodered_data/flows.json
[{"id":"01f161b867f1f598","type":"tab","label":"Node-RED CRUD Example","disabled":false,"info":"Bu flow, Todo projesi için Categories CRUD işlemlerini göstermektedir."},{"id":"33eadf9dd665aa58","type":"http in","z":"01f161b867f1f598","name":"Get Categories","url":"/node-red/categories","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["cce45962a5afcc52"]]},{"id":"cce45962a5afcc52","type":"function","z":"01f161b867f1f598","name":"Set GET Req Headers","func":"// Eğer token'ı sabit bir değişkenle eklemek istiyorsanız:\nmsg.headers = msg.headers || {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\n\n\nconst myToken = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2Nzc1MWZlNmMyYjY2NjAyODAzZmJlY2EiLCJpYXQiOjE3MzU3MjkxMzMsImV4cCI6MTczNTgxNTUzM30.bLygZgcxIqS16SCY0-cQ3W84yaCqwUuthV7In9yuSzU\";\n\n// Ve Authorization başlığını ekleyelim:\nmsg.headers[\"Authorization\"] = \"Bearer \" + myToken;\n\n// API url\nmsg.url = \"http://localhost:4000/api/categories\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":100,"wires":[["a13959b5d93932ad"]]},{"id":"a13959b5d93932ad","type":"http request","z":"01f161b867f1f598","name":"Call GET /api/categories","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":610,"y":100,"wires":[["50bc06139944b409"]]},{"id":"50bc06139944b409","type":"http response","z":"01f161b867f1f598","name":"Return Categories","statusCode":"","headers":{},"x":860,"y":100,"wires":[]},{"id":"ec580f6bd141bb90","type":"http in","z":"01f161b867f1f598","name":"Create Category","url":"/node-red/categories","method":"post","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["e1caf4222217bd0f"]]},{"id":"e1caf4222217bd0f","type":"function","z":"01f161b867f1f598","name":"Set POST Body & Headers","func":"\nmsg.headers = msg.headers || {};\nmsg.headers['Content-Type'] = 'application/json';\n\nconst myToken = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2Nzc1MWZlNmMyYjY2NjAyODAzZmJlY2EiLCJpYXQiOjE3MzU3MjkxMzMsImV4cCI6MTczNTgxNTUzM30.bLygZgcxIqS16SCY0-cQ3W84yaCqwUuthV7In9yuSzU\";\nmsg.headers['Authorization'] = 'Bearer ' + myToken;\n\n// Varsayılan API URL\nmsg.url = \"http://localhost:4000/api/categories\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":200,"wires":[["4d80dd6256cf7858"]]},{"id":"4d80dd6256cf7858","type":"http request","z":"01f161b867f1f598","name":"Call POST /api/categories","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":640,"y":200,"wires":[["dc45592d67f15397"]]},{"id":"dc45592d67f15397","type":"http response","z":"01f161b867f1f598","name":"Return Created Category","statusCode":"","headers":{},"x":890,"y":200,"wires":[]}]